source:
https://learn.datacamp.com/courses/customer-segmentation-in-python

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from operator import attrgetter
import matplotlib.colors as mcolors
import numpy as np
import datetime as dt

In [4]:
online = pd.read_excel('Online Retail.xlsx',
                   dtype={'CustomerID': str,
                          'InvoiceID': str},
                   parse_dates=['InvoiceDate'])

online.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [6]:
# Calculate the total sum 
online['TotalSum'] = online['Quantity'] * online['UnitPrice']

# Print min and max dates 
print('Min:{}; Max:{}'.format(min(online.InvoiceDate), max(online.InvoiceDate)))

Min:2010-12-01 08:26:00; Max:2011-12-09 12:50:00

In [10]:


# Create a hypothetical snapshot_day data as if we're doing analysis recently
snapshot_date = max(online.InvoiceDate) + dt.timedelta(days=1)
print(snapshot_date)

2011-12-10 12:50:00

In [11]:


# Calculate Recency, Frequency and Monetary value for each customer 
datamart = online.groupby(['CustomerID']).agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'InvoiceNo': 'count',
    'TotalSum': 'sum'})

# Rename the columns 
datamart.rename(columns={'InvoiceDate': 'Recency',
                         'InvoiceNo': 'Frequency',
                         'TotalSum': 'MonetaryValue'}, inplace=True)
# Print top 5 rows
datamart.head()

            Recency  Frequency  MonetaryValue
CustomerID
12346           326          2           0.00
12347             2        182        4310.00
12348            75         31        1797.24
12349            19         73        1757.55
12350           310         17         334.40

In [12]:
r_labels = range(3, 0, -1); f_labels = range(1, 4)

# Assign these labels to three equal percentile groups 
r_groups = pd.qcut(datamart['Recency'], q=3, labels=r_labels)

# Assign these labels to three equal percentile groups 
f_groups = pd.qcut(datamart['Frequency'], q=3, labels=f_labels)

# Create new columns R and F
datamart = datamart.assign(R=r_groups.values, F=f_groups.values)

In [13]:
# Create labels for MonetaryValue 
m_labels = range(1, 4)

# Assign these labels to three equal percentile groups
m_groups = pd.qcut(datamart['MonetaryValue'], q=3, labels=m_labels)

# Create new column M
datamart = datamart.assign(M=m_groups.values)

# Calculate RFM_Score
datamart['RFM_Score'] = datamart[['R','F','M']].sum(axis=1)

datamart.head()

            Recency  Frequency  MonetaryValue  R  F  M  RFM_Score
CustomerID
12346           326          2           0.00  1  1  1          3
12347             2        182        4310.00  3  3  3          9
12348            75         31        1797.24  2  2  3          7
12349            19         73        1757.55  3  2  3          8
12350           310         17         334.40  1  1  1          3

In [14]:
# Define rfm_level function
def rfm_level(df):
    if df['RFM_Score'] >= 9:
        return 'Top'
    elif ((df['RFM_Score'] >= 5) and (df['RFM_Score'] < 9)):
        return 'Middle'
    else:
        return 'Low'

# Create a new variable RFM_Level
datamart['RFM_Level'] = datamart.apply(rfm_level, axis=1)

# Print the header with the top 5 rows to the console.
datamart.head()

            Recency  Frequency  MonetaryValue  R  F  M  RFM_Score RFM_Level
CustomerID
12346           326          2           0.00  1  1  1          3       Low
12347             2        182        4310.00  3  3  3          9       Top
12348            75         31        1797.24  2  2  3          7    Middle
12349            19         73        1757.55  3  2  3          8    Middle
12350           310         17         334.40  1  1  1          3       Low

In [15]:
# Calculate average values for each RFM_Level, and return a size of each segment 
rfm_level_agg = datamart.groupby('RFM_Level').agg({
    'Recency': 'mean',
    'Frequency': 'mean',
  
    # Return the size of each segment
    'MonetaryValue': ['mean', 'count']}).round(1)

# Print the aggregated dataset
rfm_level_agg

          Recency Frequency MonetaryValue
             mean      mean          mean count
RFM_Level
Low         190.3      14.8         230.0  1254
Middle       65.0      72.2        1256.5  2423
Top           9.1     307.0        7146.9   695